<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949168519770-04sd4g3uqdm3kf073p9g63sipfjb5ro3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949168519770-04sd4g3uqdm3kf073p9g63sipfjb5ro3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949168519770-1o49teetdboheuo2di2l1f5idm20dilf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4cHRXVNkw5Spb5GvHRuo-y5ApMP0Bvq4</string>
	<key>GCM_SENDER_ID</key>
	<string>949168519770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cicekdoktoru.cicekDoktoru</string>
	<key>PROJECT_ID</key>
	<string>brounitystudio-d59af</string>
	<key>STORAGE_BUCKET</key>
	<string>brounitystudio-d59af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949168519770:ios:fce1c394f403fa39903663</string>
	<key>DATABASE_URL</key>
	<string>https://brounitystudio-d59af-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>